$white:    #fff;
//theme-colors
$purple: #6f42c1;
$pink: #d63384;
$yellow: #ffc107;
$green: #37C28D;
$teal: #20c997;
$cyan: rgba(169, 207, 189, 0.485);
$red: #E12D39;
$orange: orange;
$velvet: #9cffd1 !default;

//white and grey color
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary:  $green;
$secondary: $pink;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;
$pass: $orange;
$velvet: $velvet;

//border-raduis
$border-radius: .25rem;

//$component-active-color: $white  !default;
$component-active-bg: $primary;
$component-active-color: $white;

//border width sizes
$border-width: 1.8px;
$border-widths: (
    1: 1px,
    2: 1.8px,
    3: 3px,
    4: 4px,
    5: 5px) !default;

$border-color: $gray-300;
//
$input-btn-focus-width: 0.07rem;
$input-btn-focus-color-opacity: 0.125rem;
$input-focus-box-shadow:null;
$input-btn-focus-color-opacity: .1;
$input-btn-focus-color: rgba($component-active-bg, $input-btn-focus-color-opacity);
$input-btn-focus-blur: 0;
$input-btn-focus-box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width $input-btn-focus-color  null;
$btn-box-shadow: inset 0 1px 0 rgba($white, .10), 0 1px 1px rgba($black, .045);
$btn-focus-width: $input-btn-focus-width ;
$btn-focus-box-shadow: $input-btn-focus-box-shadow ;
$btn-disabled-opacity: .65;
$btn-active-box-shadow: inset 0 3px 0px rgba($black, .105);

// //@at-root
$link-color: $primary;
$link-hover-color: $success;

// //link-color
$btn-link-color: $link-color;
$btn-link-hover-color: $link-hover-color;
$btn-link-disabled-color: $gray-600;

//nav pills and links
$nav-link-padding-y: .5rem;
$nav-link-padding-x: 1rem;
$nav-link-font-size: 1rem;
$nav-link-font-weight: 1rem;
$nav-link-color: $link-color;
$nav-link-hover-color: $link-hover-color;
$nav-link-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
$nav-link-disabled-color: $gray-600;

$nav-pills-border-radius: $border-radius;
$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg: $component-active-bg;

$box-shadow:                  0 .5rem 1rem rgba($black, .15);
$box-shadow-sm:               0 .125rem .25rem rgba($black, .075);
$box-shadow-lg:               0 1rem 3rem rgba($black, .175);
$box-shadow-inset:            inset 0 1px 2px rgba($black, .075);

$shadow: $box-shadow;
//////////////////////////ACCORDIAN OVER-RIDES//////////////////////////

//ACCORDIAN COLOR CHANGES
$accordion-button-focus-border-color:     $primary;
$accordion-button-focus-box-shadow:       $shadow;
$accordion-padding-y:                     1.5rem;
$accordion-padding-x:                     1.5rem;
$accordion-icon-color:                   $primary;
$accordion-icon-active-color:            $secondary;
$accordion-icon-width:                    1.85rem;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/> <path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>") ;
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/>'  <path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>") ;

$dropdown-min-width:   rem;
$dropdown: $dropdown-min-width;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;
$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 6,
  // 6: $spacers* .1,
);

$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-semibold:        600;
$font-weight-bold:            700;
$font-weight-bolder:          bolder;
$my-weight: 5px;
$my-weight-two: 10px;


// scss-docs-start alert-variables
$alert-padding-y:               $my-weight;
$alert-padding-x:               $my-weight;
$alert-margin-bottom:           .3rem;
$alert-border-radius:           $border-radius;
$alert-link-font-weight:        $font-weight-bold;
$alert-border-width:            $border-width;
$alert-bg-scale:                -80%;
$alert-border-scale:            -70%;
$alert-color-scale:             40%;
$alert-dismissible-padding-r:   $alert-padding-x * 3; // 3x covers width of x plus default padding on either side
// scss-docs-end alert-variables

// $alert-padding-y:               $spacer;
// $alert-padding-x:               $spacer;
// $alert-margin-bottom:           1rem;
// $alert-border-radius:           $border-radius;
// $alert-link-font-weight:        $font-weight-bold;
// $alert-border-width:            $border-width;
// $alert-bg-scale:                -80%;
// $alert-border-scale:            -70%;
// $alert-color-scale:             40%;
// $alert-dismissible-padding-r:   $alert-padding-x * 3; // 3x covers width of x plus default padding on either side



@import "../node_modules/bootstrap/scss/bootstrap.scss";